<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.bbc.message.dao.TcommentMapper">
    <insert id="addTcomment" parameterType="com.boot.bbc.message.domain.Tcomment">
        insert  into Tcomment values(default,#{commentContent},#{commentTime},#{messageId},#{commentUser})
    </insert>

    <delete id="deleteTcommentById" parameterType="int">
        delete from Tcomment where commentId = #{commentId}
    </delete>

    <update id="updateTcommentById" parameterType="int">
        update Tcomment set commentContent = #{commentContent},commentTime = #{commentTime},
        messageId = #{messageId},commentUser = #{commentUser} where commentId = #{commentId}
    </update>

    <select id="queryTcommentByPage" parameterType="int" resultType="com.boot.bbc.message.domain.Tcomment">
        select * from Tcomment where messageId = #{messageId}
    </select>

    <select id="queryTcommentById" parameterType="int" resultType="com.boot.bbc.message.domain.Tcomment">
        select * from Tcomment where commentId = #{commentId}
    </select>
</mapper>
