<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.bbc.user.dao.TUserMapper">

    <insert id="addTUser" parameterType="com.boot.bbc.user.domain.Tuser">
        insert  into TUser values(default,#{userName},#{userPwd},#{userEmail},#{inBlack},#{question},#{answer},#{isOwner})
    </insert>

    <delete id="deleteTuserById" parameterType="int">
        delete from Tuser where UserID = #{userId}
    </delete>

    <update id="inBlackTuserById" parameterType="int">
        update Tuser set inBlack = 1 where UserId = #{userId}
    </update>

    <update id="inOwnerTuserById" parameterType="int">
        update Tuser set IsOwner = 1 where UserId = #{userId}
    </update>
    <update id="outBlackTuserById" parameterType="int">
        update Tuser set inBlack = 0 where UserId = #{userId}
    </update>

    <update id="outOwnerTuserById" parameterType="int">
        update Tuser set IsOwner = 0 where UserId = #{userId}
    </update>


    <update id="updateTuser" parameterType="com.boot.bbc.user.domain.Tuser">
        update Tuser set userName = #{userName},userPwd = #{userPwd},userEmail = #{userEmail} where userId = #{userId}
    </update>

    <select id="queryTuserByName" parameterType="String" resultType="com.boot.bbc.user.domain.Tuser">
        select * from Tuser where UserName = #{name}
    </select>
    <select id="queryTuserByEmail" parameterType="String" resultType="com.boot.bbc.user.domain.Tuser">
        select * from Tuser where Useremail = #{email}
    </select>

    <select id="queryTuserByID" parameterType="int" resultType="com.boot.bbc.user.domain.Tuser">
        select * from Tuser where UserId = #{userId}
    </select>

    <select id="queryTUserByPage" parameterType="String" resultType="com.boot.bbc.user.domain.Tuser">
        select * from Tuser
    <where>
        <if test="query != null and query != ''">
            Username  like concat("%",#{query},"%")
        </if>
    </where>
    </select>

</mapper>
